<div class="sidebar vertical-container">
  <!-- head_bar -->
  <div class="head_bar fixed-panel">
    <!-- logo -->
    <div class="logo">
      Spectee
    </div>
    <!-- End logo -->
    <!-- menu_button -->
    <div class="menu_button">
    </div>
    <!-- End menu_button -->
  </div>
  <!-- End head_bar -->

  <app-chat class="chat fluid-panel" id="chat"></app-chat>

  <form class="input_bar" [formGroup]="chatForm" (submit)="sendMessage()">
    <input type="text" placeholder="Type to add" formControlName="message" [disableControl]="!isEnabled">
  </form>

</div>
