/* You can add global styles to this file, and also import other style files */

html {
  background-color: #eee;
}

app-root input {
  font-size: 20px;
  padding: 16px 0 4px 0;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #cbd5de;
  background-color: transparent;
  color: #4a6277;
}

app-root input:focus {
  outline: none;
  border-bottom: 2px solid #45c2fb;
}

/* active state */
app-root input:focus ~ label,
app-root input:valid ~ label {
  top: -56px;
  font-size: 14px;
  color: #4a6277;
}

app-root ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #4a6277;
  opacity: 0.4;
}

app-root ::-moz-placeholder { /* Firefox 19+ */
  color: #4a6277;
  opacity: 0.4;
}

app-root :-ms-input-placeholder { /* IE 10+ */
  color: #4a6277;
  opacity: 0.4;
}

app-root :-moz-placeholder { /* Firefox 18- */
  color: #4a6277;
  opacity: 0.4;
}

/* LABEL ======================================= */
label {
  color: #4a6277;
  font-size: 20px;
  font-weight: normal;
  position: relative;
  pointer-events: none;
  left: 0;
  top: -35px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
