<div class="board vertical-container">

  <ng-container *ngIf="isEnabled">

    <!-- main_board_block #1 -->
    <div class="main_board_block fluid-panel horizontal-container">
      <!-- board_block #1 -->
      <app-board-block class="board_block fluid-panel vertical-container" [blockNumber]="0" [blockName]="'Less'"></app-board-block>
      <!-- End board_block #1 -->

      <!-- board_block #2 -->
      <app-board-block class="board_block fluid-panel vertical-container" [blockNumber]="1" [blockName]="'Keep'"></app-board-block>
      <!-- End board_block #2-->

      <!-- board_block #3 -->
      <app-board-block class="board_block fluid-panel vertical-container" [blockNumber]="2" [blockName]="'More'"></app-board-block>
      <!-- End board_block #3 -->
    </div>
    <!-- end main_board_block #1 -->

    <!-- main_board_block #2 -->
    <div class="main_board_block fluid-panel horizontal-container">
      <!-- board_block #4 -->
      <app-board-block class="board_block fluid-panel vertical-container" [blockNumber]="3" [blockName]="'Start'"></app-board-block>
      <!-- End board_block #4 -->

      <!-- board_block #5 -->
      <app-board-block class="board_block fluid-panel vertical-container" [blockNumber]="4" [blockName]="'Stop'"></app-board-block>
      <!-- End board_block #5 -->
    </div>
    <!-- end main_board_block #2 -->

  </ng-container>

</div>
<!-- End board -->
