.message {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  min-height: 1px;
  margin-bottom: 10px;
  background-image: url(/assets/images/voice.svg);
  background-repeat: no-repeat;
  background-position: top -14px left;
}

.message--user {
  background-image: url(/assets/images/voice_right.svg);
  background-position: right 58px top 24px;
}

.profile_image {
  width: 44px;
  height: 44px;
  -webkit-order: -2;
  -ms-flex-order: -2;
  order: -2;
  -webkit-flex: 0 0 44px;
  -ms-flex: 0 0 44px;
  flex: 0 0 44px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  min-width: 44px;
  overflow: auto;
  background-size: 100% auto;
}

.message--user .profile_image {
  width: 44px;
  height: 44px;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  -webkit-flex: 0 0 44px;
  -ms-flex: 0 0 44px;
  flex: 0 0 44px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  min-width: 44px;
  overflow: auto;
}

.baloon {
  background-color: #45c2fb;
  right: 0;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  overflow: auto;
  position: relative;
  margin-left: 30px;
  border-radius: 6px;
  padding: 12px;
  color: #fff;
}

.message--user .baloon {
  background-color: #70e4d5;
  right: 0;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  overflow: auto;
  position: relative;
  margin-right: 30px;
  margin-left: 0;
  border-radius: 6px;
  padding: 12px;
  color: #fff;
}

.chat_button {
  background-color: #fff;
  height: 30px;
  padding: 0 30px;
  border-radius: 15px;
  width: 100%;
  color: #45c2fb;
  margin: 10px 0 5px 0;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  box-shadow: -0 -0 12px rgba(0, 0, 0, 0.2);
}

.chat_button:hover {
  background-color: #eee;
  height: 30px;
  border-radius: 15px;
  width: 100%;
  color: #45c2fb;
  margin: 10px 0 5px 0;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.chat_button--disabled {
  opacity: 0.3;
}

.chat_button--selected {
  background-color: #0d1b28;
}
