<div class="chat fluid-panel " id="scroll_6" >
  <!-- message -->
  <div class="message">
    <div class="profile_image profile_image-spectee">

    </div>
    <!-- baloon -->
    <div class="baloon">

      <!-- baloon_text -->
      <div class="baloon_text">
        Hi !!!
      </div>
      <!-- End baloon_text -->

    </div>
    <!-- End baloon -->
  </div>
  <!-- End message -->
  <!-- message -->
  <div class="message">
    <div class="profile_image profile_image-spectee">

    </div>
    <!-- baloon -->
    <div class="baloon">


      <!-- baloon_text -->
      <div class="baloon_text">
        Hi !!!
      </div>
      <!-- End baloon_text -->

    </div>
    <!-- End baloon -->
  </div>
  <!-- End message -->
  <!-- message -->
  <div class="message">
    <div class="profile_image profile_image-spectee">

    </div>
    <!-- baloon -->
    <div class="baloon">

      <!-- baloon_text -->
      <div class="baloon_text">
        Hi !!!
        <br>
        <div class="chat_button">Lorem </div>
        <div class="chat_button">Lorem </div>
        <div class="chat_button">Lorem </div>
      </div>
      <!-- End baloon_text -->


    </div>
    <!-- End baloon -->

  </div>
  <!-- End message -->
  <!-- message -->
  <div class="message message--user">

    <!-- baloon -->
    <div class="baloon">

      <!-- baloon_text -->
      <div class="baloon_text">
        Hi !!!
        <br>
        <div class="chat_button">Lorem </div>
        <div class="chat_button">Lorem </div>
        <div class="chat_button">Lorem </div>
      </div>
      <!-- End baloon_text -->


    </div>
    <!-- End baloon -->
    <div class="profile_image" style="background-image:url(/assets/images/emanuele.png)">

    </div>

  </div>
  <!-- End message -->

</div>
