<ng-container *ngFor="let message of messages">
  <div class="message">
    <!--TODO: user image and manage alignement-->
    <!--<div class="message message&#45;&#45;user">-->

    <div class="profile_image profile_image-spectee"></div>
    <div class="baloon">
      <div class="baloon_text">
        {{message.message}}
        <!--TODO: button list-->
        <!--<br>-->
        <!--<div class="chat_button">Lorem</div>-->
        <!--<div class="chat_button">Lorem</div>-->
        <!--<div class="chat_button">Lorem</div>-->
      </div>
    </div>
  </div>
</ng-container>
