<app-sidebar></app-sidebar>
<app-board></app-board>

<div class="users">
  <div class="user" style="background-image: url(/assets/images/cag_3x.png);">
    <div class="moderator_star"></div>
  </div>
  <div class="user" style="background-image: url(/assets/images/san_3x.png);"></div>
  <div class="user myself" style="background-image: url(/assets/images/mar_3x.png);"></div>
  <div class="user" style="background-image: url(/assets/images/ran_3x.png);"></div>
  <div class="user" style="background-image: url(/assets/images/duq_3x.png);"></div>
  <div class="user" style="background-image: url(/assets/images/sac_3x.png);"></div>
</div>
