<div class="board_block_title fixed-panel">
  {{blockName}} <br>
  <form [formGroup]="boardForm" (submit)="sendMessage()" class="group">
    <div>
      <input type="text" placeholder="Type to add" formControlName="message" [disableControl]="!isEnabled">
    </div>
  </form>
  <span class="highlight"></span>
  <span class="bar"></span>

</div>
<div class="board_block_content fluid-panel " id="board_block_{{blockNumber}}"
     data-masonry='{ "columnWidth": 1, "itemSelector": "." }'>

  <ng-container *ngFor="let wsMessage of wsMessages">
    <div class="post_it post_it--profile" [style.background-color]="wsMessage.userColor"
         [style.background-image]="'url(/assets/images/' + wsMessage.userImage + ')'">
      {{wsMessage.payload.message}}
      <!--TODO: close-->
      <!--<div class="post_it_close"></div>-->
    </div>
  </ng-container>
</div>
