<div class="board_block_title fixed-panel">
  Keep doing <br>
  <div class="group">
    <input type="text" placeholder="Type to add" required>
    <span class="highlight"></span>
    <span class="bar"></span>
  </div>
</div>
<div class="board_block_content fluid-panel " id="scroll_5" data-masonry='{ "columnWidth": 1, "itemSelector": "." }'>

  <div class="post_it red post_it--profile  ">
    Lorem ipsum
  </div>
  <div class="post_it red post_it--profile ">
    Lorem ipsum sic dolor tamquam
  </div>
  <div class="post_it red post_it--profile ">
    Lorem ipsum ipsum lorem tororororororroro
  </div>
  <div class="post_it red post_it--profile ">
    Lorem ipsum ipsum lorem tororororororroro
  </div>
  <div class="post_it red post_it--profile ">
    Lorem ipsum ipsum lorem tororororororroro
  </div>
  <div class="post_it red post_it--profile ">
    Lorem ipsum ipsum lorem tororororororroro
  </div>
  <div class="post_it red post_it--profile ">
    Lorem ipsum ipsum lorem tororororororroro
  </div>
  <div class="post_it red post_it--profile ">
    Lorem ipsum ipsum lorem tororororororroro
  </div>
  <div class="post_it red post_it--profile ">
    Lorem ipsum ipsum lorem tororororororroro
  </div>
  <div class="post_it red post_it--profile ">
    Lorem ipsum ipsum lorem tororororororroro
  </div>
  <div class="post_it red post_it--profile ">
    Lorem ipsum ipsum lorem tororororororroro
  </div>
  <div class="post_it red post_it--profile ">
    Lorem ipsum ipsum lorem tororororororroro
  </div>
  <div class="post_it red post_it--profile ">
    Lorem ipsum ipsum lorem tororororororroro
  </div>

</div>

<!--<div class="board_block_title fixed-panel">-->
  <!--Keep doing </br>-->
  <!--<div class="group">-->
    <!--<input type="text" placeholder="Type to add" required>-->
    <!--<span class="highlight"></span>-->
    <!--<span class="bar"></span>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="board_block_content fluid-panel " id="scroll_1" data-masonry='{ "columnWidth": 1, "itemSelector": "." }'>-->

  <!--<div class="post_it red post_it&#45;&#45;profile  ">-->
    <!--Lorem ipsum-->
  <!--</div>-->
  <!--<div class="post_it red post_it&#45;&#45;profile ">-->
    <!--Lorem ipsum sic dolor tamquam-->
  <!--</div>-->
  <!--<div class="post_it red post_it&#45;&#45;profile ">-->
    <!--Lorem ipsum ipsum lorem tororororororroro-->
  <!--</div>-->

<!--</div>-->


<!--<div class="board">-->
  <!--<form [formGroup]="boardForm" (submit)="sendMessage()">-->
    <!--<div>-->
      <!--<input placeholder="Message" type="text" formControlName="message">-->
    <!--</div>-->

    <!--<div>-->
      <!--<button type="submit">Send</button>-->
    <!--</div>-->
  <!--</form>-->

  <!--<div>-->
    <!--{{message}}-->
  <!--</div>-->
<!--</div>-->
