<div id="login">
  <form [formGroup]="loginForm" (submit)="doLogin()">
    <div>
      <input placeholder="Nick" type="text" formControlName="nick">
      <div *ngIf="loginForm.controls['nick'].hasError('required')">
        Nick is <strong>required</strong>
      </div>
    </div>

    <div>
      <input placeholder="Email" type="email" formControlName="email">
      <div *ngIf="loginForm.controls['email'].hasError('email') && !loginForm.controls['email'].hasError('required')">
        Please enter a valid email address
      </div>
      <div *ngIf="loginForm.controls['email'].hasError('required')">
        Email is <strong>required</strong>
      </div>
    </div>

    <div>
      <input type="checkbox" formControlName="isScrumMaster"><span>I'm the Scrum master!</span>
    </div>

    <div class="button-bar">
      <button type="submit">Login</button>
    </div>
  </form>
</div>
