#login {
  text-align: center;

  form {
    display: inline-block;
    text-align: left;

    div {
      padding: 8px;
    }

    span {
      padding: 8px;
    }
  }

  .button-bar {
    text-align: right;
  }
}
